<a href="https://colab.research.google.com/github/iGesora/Datasets/blob/master/Telematics_Cleaning_FINAL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

from google.colab import drive  #mount your Google Drive to Colab
drive.mount("/content/drive", force_remount=True)

Mounted at /content/drive

In [ ]:
%%time
df = pd.read_csv('/content/drive/MyDrive/ORANGEEV FILES/2023_May_Telematics_SOC_Merged.csv')

CPU times: user 1.53 s, sys: 176 ms, total: 1.71 s
Wall time: 1.99 s

In [ ]:
df.shape

(1670269, 4)

In [ ]:
df.head()

,S/N,Machine Type,Event Time (Local),Value Name,Tag,Value,Delta Value,Raw Value
0,122792,NaN,"2023/05/01, 0:00am",State of Charge (SOC),SOC,100.0,NaN,10000
1,121613,NaN,"2023/05/01, 0:00am",State of Charge (SOC),SOC,100.0,NaN,10000
2,121607,NaN,"2023/05/01, 0:00am",State of Charge (SOC),SOC,100.0,NaN,10000
3,122874,NaN,"2023/05/01, 0:00am",State of Charge (SOC),SOC,100.0,NaN,10000
4,122872,NaN,"2023/05/01, 0:00am",State of Charge (SOC),SOC,100.0,NaN,10000

In [ ]:
df.tail()

,S/N,Machine Type,Event Time (Local),Value Name,Tag,Value,Delta Value,Raw Value
1711501,121565,NaN,"2023/05/31, 11:59pm",State of Charge (SOC),SOC,100.00,NaN,10000
1711502,121911,NaN,"2023/05/31, 11:59pm",State of Charge (SOC),SOC,77.63,NaN,7763
1711503,122796,NaN,"2023/05/31, 11:59pm",State of Charge (SOC),SOC,77.42,NaN,7742
1711504,121914,NaN,"2023/05/31, 11:59pm",State of Charge (SOC),SOC,100.00,NaN,10000
1711505,122811,NaN,"2023/05/31, 11:59pm",State of Charge (SOC),SOC,84.30,NaN,8430

In [ ]:
%%time
# Check for null values in all columns
df.isnull().sum()

CPU times: user 795 ms, sys: 7.78 ms, total: 802 ms
Wall time: 822 ms

S/N                         0
Machine Type          1711506
Event Time (Local)          0
Value Name                  0
Tag                         0
Value                       0
Delta Value           1711506
Raw Value                   0
dtype: int64

In [ ]:
# List of columns to drop
columns_to_drop = ['Machine Type', 'Value Name', 'Tag', 'Delta Value', 'Raw Value']

# Drop the specified columns
df = df.drop(columns=columns_to_drop)

In [ ]:
df.head(10)

      S/N  Event Time (Local)   Value
0  122792  2023/05/01, 0:00am  100.00
1  121613  2023/05/01, 0:00am  100.00
2  121607  2023/05/01, 0:00am  100.00
3  122874  2023/05/01, 0:00am  100.00
4  122872  2023/05/01, 0:00am  100.00
5  121358  2023/05/01, 0:00am   94.16
6  121757  2023/05/01, 0:00am  100.00
7  120740  2023/05/01, 0:00am   53.51
8  123337  2023/05/01, 0:00am   96.06
9  121689  2023/05/01, 0:00am   95.77

In [ ]:
# Define the mapping of old column names to new column names
column_mapping = {
    'S/N': 'Truck Serial Number',
    'Event Time (Local)': 'Timestamp',
    'Value': 'SoC'
}

# Rename the columns
df = df.rename(columns=column_mapping)

# Drop the index column
df = df.reset_index(drop=True)

#view new columns
df.columns

Index(['Truck Serial Number', 'Timestamp', 'SoC'], dtype='object')

In [ ]:
%%time
# Convert the timestamp column to datetime format
df['Timestamp'] = pd.to_datetime(df['Timestamp'])

# Extract the desired components into new columns
df['Date'] = df['Timestamp'].dt.strftime('%Y-%m-%d')  # Short format date, e.g., '2023-06-04'
df['Time (24hr)'] = df['Timestamp'].dt.strftime('%H:%M:%S')  # Time in 24-hour format, e.g., '15:30:45'

# Drop the original timestamp column
df = df.drop(columns=['Timestamp'])

df.head(5)

CPU times: user 13.7 s, sys: 192 ms, total: 13.9 s
Wall time: 14 s

   Truck Serial Number    SoC        Date Time (24hr)
0               122792  100.0  2023-05-01    00:00:00
1               121613  100.0  2023-05-01    00:00:00
2               121607  100.0  2023-05-01    00:00:00
3               122874  100.0  2023-05-01    00:00:00
4               122872  100.0  2023-05-01    00:00:00

In [ ]:
unique_serial_numbers = len(df['Truck Serial Number'].unique())
print("Unique number of truck serial numbers:", unique_serial_numbers)

Unique number of truck serial numbers: 810

In [ ]:
%%time
# Sort the dataframe by 'Truck Serial Number', 'Date', and 'Time (24hr)'
df = df.sort_values(by=['Truck Serial Number', 'Date', 'Time (24hr)'])

# Identify duplicate rows based on the specified columns for each unique truck serial number
duplicate_rows = df[df.duplicated(subset=['Truck Serial Number', 'SoC', 'Date', 'Time (24hr)'], keep=False)]

if duplicate_rows.empty:
    print("No duplicate values found for the specified columns for any truck serial number.")
else:
    # Drop duplicate rows and keep only the first occurrence
    df = df.drop_duplicates(subset=['Truck Serial Number', 'SoC', 'Date', 'Time (24hr)'], keep='first')

    print("\nDuplicate rows:")
    print(duplicate_rows)
    print("\nCount of duplicate rows:", len(duplicate_rows))

# Print the modified dataframe without duplicate rows
print("\nModified dataframe:")
print(df)

Duplicate rows:
         Truck Serial Number    SoC        Date Time (24hr)
7580                  120660  80.12  2023-05-01    03:38:00
7593                  120660  80.12  2023-05-01    03:38:00
7609                  120660  80.12  2023-05-01    03:38:00
37283                 120660  96.21  2023-05-01    16:59:00
37290                 120660  96.21  2023-05-01    16:59:00
...                      ...    ...         ...         ...
1699802               151829  44.44  2023-05-31    19:16:00
1699804               151829  44.44  2023-05-31    19:16:00
1703949               151829  51.83  2023-05-31    21:03:00
1703951               151829  51.83  2023-05-31    21:03:00
1703975               151829  51.83  2023-05-31    21:03:00

[80122 rows x 4 columns]

Count of duplicate rows: 80122

Modified dataframe:
         Truck Serial Number    SoC        Date Time (24hr)
14                    120660  92.85  2023-05-01    00:00:00
1098                  120660  92.53  2023-05-01    00:15:00
1560                  120660  92.31  2023-05-01    00:30:00
2048                  120660  92.10  2023-05-01    00:45:00
2504                  120660  91.90  2023-05-01    01:00:00
...                      ...    ...         ...         ...
1708677               151829  69.11  2023-05-31    23:03:00
1709264               151829  71.25  2023-05-31    23:18:00
1709865               151829  73.45  2023-05-31    23:33:00
1710469               151829  75.65  2023-05-31    23:48:00
1711226               151829  76.57  2023-05-31    23:55:00

[1670269 rows x 4 columns]
CPU times: user 4.5 s, sys: 256 ms, total: 4.76 s
Wall time: 4.76 s

In [ ]:
df.shape

(1670269, 4)

In [ ]:
df.columns

Index(['Truck Serial Number', 'SoC', 'Date', 'Time (24hr)'], dtype='object')

In [ ]:
df.head(10)

      Truck Serial Number    SoC        Date Time (24hr)
14                 120660  92.85  2023-05-01    00:00:00
1098               120660  92.53  2023-05-01    00:15:00
1560               120660  92.31  2023-05-01    00:30:00
2048               120660  92.10  2023-05-01    00:45:00
2504               120660  91.90  2023-05-01    01:00:00
2978               120660  91.68  2023-05-01    01:15:00
3471               120660  90.67  2023-05-01    01:30:00
3951               120660  89.22  2023-05-01    01:45:00
4264               120660  88.10  2023-05-01    01:55:00
4447               120660  87.60  2023-05-01    02:00:00

In [ ]:
df.tail(10)

         Truck Serial Number    SoC        Date Time (24hr)
1705761               151829  58.38  2023-05-31    21:48:00
1706338               151829  60.51  2023-05-31    22:03:00
1706930               151829  62.65  2023-05-31    22:18:00
1707490               151829  64.83  2023-05-31    22:33:00
1708085               151829  66.98  2023-05-31    22:48:00
1708677               151829  69.11  2023-05-31    23:03:00
1709264               151829  71.25  2023-05-31    23:18:00
1709865               151829  73.45  2023-05-31    23:33:00
1710469               151829  75.65  2023-05-31    23:48:00
1711226               151829  76.57  2023-05-31    23:55:00

In [ ]:
%%time
###########PERFECT!!##########

# Sort the dataframe by 'Truck Serial Number', 'Date', and 'Time (24hr)'
df = df.sort_values(by=['Truck Serial Number', 'Date', 'Time (24hr)'])

# Initialize lists for new columns
truck_serial_numbers = []
soc_list = []
soc_kwh_list = []
date_list = []
time_list = []
charging_list = []
discharging_list = []
idle_list = []
change_in_soc_list = []
change_in_soc_kwh_list = []
prev_truck_serial_number = None
prev_date = None
prev_soc = None
prev_time = None

# Iterate over the rows in the dataframe
for index, row in df.iterrows():
    truck_serial_number = row['Truck Serial Number']
    soc = row['SoC']
    time = pd.to_datetime(row['Time (24hr)'])
    date = row['Date']

    # Check for truck serial number change
    if truck_serial_number != prev_truck_serial_number:
        prev_truck_serial_number = truck_serial_number
        prev_soc = None
        prev_time = None

    # Check for date change
    if date != prev_date:
        prev_date = date
        prev_soc = None
        prev_time = None

    # Calculate time difference in minutes
    if prev_time is not None:
        time_diff = (time - prev_time).total_seconds() / 60
    else:
        time_diff = 0

    # Calculate change in SoC
    if prev_soc is not None:
        change_in_soc = soc - prev_soc
    else:
        change_in_soc = None

    # Assign time difference to corresponding columns based on change in SoC
    if change_in_soc is not None:
        if change_in_soc < 0:
            discharging_list.append(time_diff)
            charging_list.append(0)
            idle_list.append(0)
        elif change_in_soc > 0:
            discharging_list.append(0)
            charging_list.append(time_diff)
            idle_list.append(0)
        else:
            discharging_list.append(0)
            charging_list.append(0)
            idle_list.append(time_diff)
    else:
        discharging_list.append(0)
        charging_list.append(0)
        idle_list.append(0)

    # Append truck serial number, SoC, date, time, and change in SoC to the lists
    truck_serial_numbers.append(truck_serial_number)
    soc_list.append(soc)
    soc_kwh_list.append(soc * 1.8)
    date_list.append(date)
    time_list.append(time)
    change_in_soc_list.append(change_in_soc)

    # Update previous values
    prev_soc = soc
    prev_time = time

# Calculate Change in SoC kWh
change_in_soc_kwh_list = [change * 1.8 if change is not None else 0 for change in change_in_soc_list]

# Create the updated dataframe with the desired column order
updated_df = pd.DataFrame({
    'Truck Serial Number': truck_serial_numbers,
    'SoC': soc_list,
    'SoC in kWh': soc_kwh_list,
    'Date': date_list,
    'Time (24hr)': time_list,
    'Charging Duration': charging_list,
    'Discharging Duration': discharging_list,
    'Idle Duration': idle_list,
    'Change in SoC': change_in_soc_list,
    'Change in SoC kWh': change_in_soc_kwh_list
})

# Replace NaN values with 0 in the 'Change in SoC kWh' column
updated_df['Change in SoC kWh'] = updated_df['Change in SoC kWh'].fillna(0)

# Print the updated dataframe with the desired column order
updated_df = updated_df[['Truck Serial Number', 'SoC', 'SoC in kWh', 'Date', 'Time (24hr)', 'Charging Duration',
                         'Discharging Duration', 'Idle Duration', 'Change in SoC', 'Change in SoC kWh']]

CPU times: user 9min 14s, sys: 2.83 s, total: 9min 17s
Wall time: 9min 22s

In [ ]:
# Replace NaN values with 0
updated_df['Change in SoC'].fillna(0, inplace=True)
updated_df['Change in SoC kWh'].fillna(0, inplace=True)

# Convert negative values to positive values
updated_df['Change in SoC'] = updated_df['Change in SoC'].abs()
updated_df['Change in SoC kWh'] = updated_df['Change in SoC kWh'].abs()

updated_df['Time (24hr)'] = updated_df['Time (24hr)'].dt.time

In [ ]:
null_counts = updated_df.isnull().sum()
print(null_counts)

Truck Serial Number     0
SoC                     0
SoC in kWh              0
Date                    0
Time (24hr)             0
Charging Duration       0
Discharging Duration    0
Idle Duration           0
Change in SoC           0
Change in SoC kWh       0
dtype: int64

In [ ]:
# Display the updated dataframe
updated_df.head(10)

,Truck Serial Number,SoC,SoC in kWh,Date,Time (24hr),Charging Duration,Discharging Duration,Idle Duration,Change in SoC,Change in SoC kWh
0,120660,92.85,167.130,2023-05-01,00:00:00,0.0,0.0,0.0,0.00,0.000
1,120660,92.53,166.554,2023-05-01,00:15:00,0.0,15.0,0.0,0.32,0.576
2,120660,92.31,166.158,2023-05-01,00:30:00,0.0,15.0,0.0,0.22,0.396
3,120660,92.10,165.780,2023-05-01,00:45:00,0.0,15.0,0.0,0.21,0.378
4,120660,91.90,165.420,2023-05-01,01:00:00,0.0,15.0,0.0,0.20,0.360
5,120660,91.68,165.024,2023-05-01,01:15:00,0.0,15.0,0.0,0.22,0.396
6,120660,90.67,163.206,2023-05-01,01:30:00,0.0,15.0,0.0,1.01,1.818
7,120660,89.22,160.596,2023-05-01,01:45:00,0.0,15.0,0.0,1.45,2.610
8,120660,88.10,158.580,2023-05-01,01:55:00,0.0,10.0,0.0,1.12,2.016
9,120660,87.60,157.680,2023-05-01,02:00:00,0.0,5.0,0.0,0.50,0.900

In [ ]:
updated_df.tail(10)

,Truck Serial Number,SoC,SoC in kWh,Date,Time (24hr),Charging Duration,Discharging Duration,Idle Duration,Change in SoC,Change in SoC kWh
1670259,151829,58.38,105.084,2023-05-31,21:48:00,15.0,0.0,0.0,2.13,3.834
1670260,151829,60.51,108.918,2023-05-31,22:03:00,15.0,0.0,0.0,2.13,3.834
1670261,151829,62.65,112.770,2023-05-31,22:18:00,15.0,0.0,0.0,2.14,3.852
1670262,151829,64.83,116.694,2023-05-31,22:33:00,15.0,0.0,0.0,2.18,3.924
1670263,151829,66.98,120.564,2023-05-31,22:48:00,15.0,0.0,0.0,2.15,3.870
1670264,151829,69.11,124.398,2023-05-31,23:03:00,15.0,0.0,0.0,2.13,3.834
1670265,151829,71.25,128.250,2023-05-31,23:18:00,15.0,0.0,0.0,2.14,3.852
1670266,151829,73.45,132.210,2023-05-31,23:33:00,15.0,0.0,0.0,2.20,3.960
1670267,151829,75.65,136.170,2023-05-31,23:48:00,15.0,0.0,0.0,2.20,3.960
1670268,151829,76.57,137.826,2023-05-31,23:55:00,7.0,0.0,0.0,0.92,1.656

In [ ]:
%%time
# Create new columns 'RoC Per Hr' and 'RoCg Per Hr' and initialize them with zeros
updated_df['RoC Per Hr'] = 0
updated_df['RoCg Per Hr'] = 0

# Iterate over the rows of the DataFrame
for index, row in updated_df.iterrows():
    if row['Change in SoC kWh'] != 0:
        if row['Discharging Duration'] > 0:
            updated_df.at[index, 'RoC'] = row['Change in SoC kWh'] / row['Discharging Duration']
            updated_df.at[index, 'RoC Per Hr'] = updated_df.at[index, 'RoC'] * 60  # Convert to kWh per hour
        elif row['Charging Duration'] > 0:
            updated_df.at[index, 'RoCg'] = row['Change in SoC kWh'] / row['Charging Duration']
            updated_df.at[index, 'RoCg Per Hr'] = updated_df.at[index, 'RoCg'] * 60  # Convert to kWh per hour
    elif row['Idle Duration'] > 0:
        updated_df.at[index, 'RoC'] = 0
        updated_df.at[index, 'RoCg'] = 0

# Forward fill the values in 'RoC' and 'RoCg' columns for each unique truck serial number and date
updated_df['RoC'] = updated_df.groupby(['Truck Serial Number', 'Date'])['RoC'].fillna(method='ffill')
updated_df['RoCg'] = updated_df.groupby(['Truck Serial Number', 'Date'])['RoCg'].fillna(method='ffill')

# Replace any NaN values in 'RoC' and 'RoCg' columns with zeros
updated_df['RoC'] = updated_df['RoC'].fillna(0)
updated_df['RoCg'] = updated_df['RoCg'].fillna(0)

CPU times: user 3min 57s, sys: 1.59 s, total: 3min 58s
Wall time: 4min 1s

In [ ]:
updated_df.head(50)

,Truck Serial Number,SoC,SoC in kWh,Date,Time (24hr),Charging Duration,Discharging Duration,Idle Duration,Change in SoC,Change in SoC kWh,RoC Per Hr,RoCg Per Hr,RoC,RoCg
0,120660,92.85,167.130,2023-05-01,00:00:00,0.0,0.0,0.0,0.00,0.000,0.000000,0.000000,0.000000,0.000000
1,120660,92.53,166.554,2023-05-01,00:15:00,0.0,15.0,0.0,0.32,0.576,2.304000,0.000000,0.038400,0.000000
2,120660,92.31,166.158,2023-05-01,00:30:00,0.0,15.0,0.0,0.22,0.396,1.584000,0.000000,0.026400,0.000000
3,120660,92.10,165.780,2023-05-01,00:45:00,0.0,15.0,0.0,0.21,0.378,1.512000,0.000000,0.025200,0.000000
4,120660,91.90,165.420,2023-05-01,01:00:00,0.0,15.0,0.0,0.20,0.360,1.440000,0.000000,0.024000,0.000000
5,120660,91.68,165.024,2023-05-01,01:15:00,0.0,15.0,0.0,0.22,0.396,1.584000,0.000000,0.026400,0.000000
6,120660,90.67,163.206,2023-05-01,01:30:00,0.0,15.0,0.0,1.01,1.818,7.272000,0.000000,0.121200,0.000000
7,120660,89.22,160.596,2023-05-01,01:45:00,0.0,15.0,0.0,1.45,2.610,10.440000,0.000000,0.174000,0.000000
8,120660,88.10,158.580,2023-05-01,01:55:00,0.0,10.0,0.0,1.12,2.016,12.096000,0.000000,0.201600,0.000000
9,120660,87.60,157.680,2023-05-01,02:00:00,0.0,5.0,0.0,0.50,0.900,10.800000,0.000000,0.180000,0.000000
10,120660,87.56,157.608,2023-05-01,02:01:00,0.0,1.0,0.0,0.04,0.072,4.320000,0.000000,0.072000,0.000000
11,120660,86.68,156.024,2023-05-01,02:15:00,0.0,14.0,0.0,0.88,1.584,6.788571,0.000000,0.113143,0.000000
12,120660,85.60,154.080,2023-05-01,02:30:00,0.0,15.0,0.0,1.08,1.944,7.776000,0.000000,0.129600,0.000000
13,120660,84.33,151.794,2023-05-01,02:45:00,0.0,15.0,0.0,1.27,2.286,9.144000,0.000000,0.152400,0.000000
14,120660,83.38,150.084,2023-05-01,03:00:00,0.0,15.0,0.0,0.95,1.710,6.840000,0.000000,0.114000,0.000000
15,120660,82.48,148.464,2023-05-01,03:15:00,0.0,15.0,0.0,0.90,1.620,6.480000,0.000000,0.108000,0.000000
16,120660,81.06,145.908,2023-05-01,03:30:00,0.0,15.0,0.0,1.42,2.556,10.224000,0.000000,0.170400,0.000000
17,120660,80.12,144.216,2023-05-01,03:38:00,0.0,8.0,0.0,0.94,1.692,12.690000,0.000000,0.211500,0.000000
18,120660,80.12,144.216,2023-05-01,03:45:00,0.0,0.0,7.0,0.00,0.000,0.000000,0.000000,0.000000,0.000000
19,120660,80.12,144.216,2023-05-01,04:04:00,0.0,0.0,19.0,0.00,0.000,0.000000,0.000000,0.000000,0.000000
20,120660,78.66,141.588,2023-05-01,04:19:00,0.0,15.0,0.0,1.46,2.628,10.512000,0.000000,0.175200,0.000000
21,120660,77.17,138.906,2023-05-01,04:34:00,0.0,15.0,0.0,1.49,2.682,10.728000,0.000000,0.178800,0.000000
22,120660,75.91,136.638,2023-05-01,04:49:00,0.0,15.0,0.0,1.26,2.268,9.072000,0.000000,0.151200,0.000000
23,120660,74.44,133.992,2023-05-01,05:04:00,0.0,15.0,0.0,1.47,2.646,10.584000,0.000000,0.176400,0.000000
24,120660,74.03,133.254,2023-05-01,05:18:00,0.0,14.0,0.0,0.41,0.738,3.162857,0.000000,0.052714,0.000000
25,120660,75.28,135.504,2023-05-01,05:25:00,7.0,0.0,0.0,1.25,2.250,0.000000,19.285714,0.052714,0.321429
26,120660,100.00,180.000,2023-05-01,13:21:00,476.0,0.0,0.0,24.72,44.496,0.000000,5.608739,0.052714,0.093479
27,120660,98.75,177.750,2023-05-01,13:36:00,0.0,15.0,0.0,1.25,2.250,9.000000,0.000000,0.150000,0.093479
28,120660,97.70,175.860,2023-05-01,13:51:00,0.0,15.0,0.0,1.05,1.890,7.560000,0.000000,0.126000,0.093479
29,120660,96.51,173.718,2023-05-01,14:06:00,0.0,15.0,0.0,1.19,2.142,8.568000,0.000000,0.142800,0.093479
30,120660,95.97,172.746,2023-05-01,14:11:00,0.0,5.0,0.0,0.54,0.972,11.664000,0.000000,0.194400,0.093479
31,120660,95.97,172.746,2023-05-01,14:18:00,0.0,0.0,7.0,0.00,0.000,0.000000,0.000000,0.000000,0.000000
32,120660,95.97,172.746,2023-05-01,14:19:00,0.0,0.0,1.0,0.00,0.000,0.000000,0.000000,0.000000,0.000000
33,120660,94.65,170.370,2023-05-01,14:35:00,0.0,16.0,0.0,1.32,2.376,8.910000,0.000000,0.148500,0.000000
34,120660,93.70,168.660,2023-05-01,14:50:00,0.0,15.0,0.0,0.95,1.710,6.840000,0.000000,0.114000,0.000000
35,120660,92.46,166.428,2023-05-01,15:05:00,0.0,15.0,0.0,1.24,2.232,8.928000,0.000000,0.148800,0.000000
36,120660,91.52,164.736,2023-05-01,15:20:00,0.0,15.0,0.0,0.94,1.692,6.768000,0.000000,0.112800,0.000000
37,120660,90.79,163.422,2023-05-01,15:32:00,0.0,12.0,0.0,0.73,1.314,6.570000,0.000000,0.109500,0.000000
38,120660,92.21,165.978,2023-05-01,15:38:00,6.0,0.0,0.0,1.42,2.556,0.000000,25.560000,0.109500,0.426000
39,120660,99.90,179.820,2023-05-01,16:14:00,36.0,0.0,0.0,7.69,13.842,0.000000,23.070000,0.109500,0.384500
40,120660,98.18,176.724,2023-05-01,16:29:00,0.0,15.0,0.0,1.72,3.096,12.384000,0.000000,0.206400,0.384500
41,120660,97.18,174.924,2023-05-01,16:44:00,0.0,15.0,0.0,1.00,1.800,7.200000,0.000000,0.120000,0.384500
42,120660,97.18,174.924,2023-05-01,16:47:00,0.0,0.0,3.0,0.00,0.000,0.000000,0.000000,0.000000,0.000000
43,120660,96.94,174.492,2023-05-01,16:51:00,0.0,4.0,0.0,0.24,0.432,6.480000,0.000000,0.108000,0.000000
44,120660,96.21,173.178,2023-05-01,16:59:00,0.0,8.0,0.0,0.73,1.314,9.855000,0.000000,0.164250,0.000000
45,120660,95.73,172.314,2023-05-01,17:06:00,0.0,7.0,0.0,0.48,0.864,7.405714,0.000000,0.123429,0.000000
46,120660,94.98,170.964,2023-05-01,17:15:00,0.0,9.0,0.0,0.75,1.350,9.000000,0.000000,0.150000,0.000000
47,120660,93.59,168.462,2023-05-01,17:29:00,0.0,14.0,0.0,1.39,2.502,10.722857,0.000000,0.178714,0.000000
48,120660,92.41,166.338,2023-05-01,17:44:00,0.0,15.0,0.0,1.18,2.124,8.496000,0.000000,0.141600,0.000000
49,120660,91.15,164.070,2023-05-01,17:59:00,0.0,15.0,0.0,1.26,2.268,9.072000,0.000000,0.151200,0.000000

In [ ]:
updated_df.tail(10)

,Truck Serial Number,SoC,SoC in kWh,Date,Time (24hr),Charging Duration,Discharging Duration,Idle Duration,Change in SoC,Change in SoC kWh,RoC Per Hr,RoCg Per Hr,RoC,RoCg
1670259,151829,58.38,105.084,2023-05-31,21:48:00,15.0,0.0,0.0,2.13,3.834,0.0,15.336000,0.096923,0.255600
1670260,151829,60.51,108.918,2023-05-31,22:03:00,15.0,0.0,0.0,2.13,3.834,0.0,15.336000,0.096923,0.255600
1670261,151829,62.65,112.770,2023-05-31,22:18:00,15.0,0.0,0.0,2.14,3.852,0.0,15.408000,0.096923,0.256800
1670262,151829,64.83,116.694,2023-05-31,22:33:00,15.0,0.0,0.0,2.18,3.924,0.0,15.696000,0.096923,0.261600
1670263,151829,66.98,120.564,2023-05-31,22:48:00,15.0,0.0,0.0,2.15,3.870,0.0,15.480000,0.096923,0.258000
1670264,151829,69.11,124.398,2023-05-31,23:03:00,15.0,0.0,0.0,2.13,3.834,0.0,15.336000,0.096923,0.255600
1670265,151829,71.25,128.250,2023-05-31,23:18:00,15.0,0.0,0.0,2.14,3.852,0.0,15.408000,0.096923,0.256800
1670266,151829,73.45,132.210,2023-05-31,23:33:00,15.0,0.0,0.0,2.20,3.960,0.0,15.840000,0.096923,0.264000
1670267,151829,75.65,136.170,2023-05-31,23:48:00,15.0,0.0,0.0,2.20,3.960,0.0,15.840000,0.096923,0.264000
1670268,151829,76.57,137.826,2023-05-31,23:55:00,7.0,0.0,0.0,0.92,1.656,0.0,14.194286,0.096923,0.236571

In [ ]:
updated_df.shape

(1670269, 14)

In [ ]:
updated_df.columns

Index(['Truck Serial Number', 'SoC', 'SoC in kWh', 'Date', 'Time (24hr)',
       'Charging Duration', 'Discharging Duration', 'Idle Duration',
       'Change in SoC', 'Change in SoC kWh', 'RoC Per Hr', 'RoCg Per Hr',
       'RoC', 'RoCg'],
      dtype='object')

In [ ]:
null_counts = updated_df.isnull().sum()
print(null_counts)

Truck Serial Number     0
SoC                     0
SoC in kWh              0
Date                    0
Time (24hr)             0
Charging Duration       0
Discharging Duration    0
Idle Duration           0
Change in SoC           0
Change in SoC kWh       0
RoC Per Hr              0
RoCg Per Hr             0
RoC                     0
RoCg                    0
dtype: int64

In [ ]:
updated_df.dtypes

Truck Serial Number       int64
SoC                     float64
SoC in kWh              float64
Date                     object
Time (24hr)              object
Charging Duration       float64
Discharging Duration    float64
Idle Duration           float64
Change in SoC           float64
Change in SoC kWh       float64
RoC Per Hr              float64
RoCg Per Hr             float64
RoC                     float64
RoCg                    float64
dtype: object

In [ ]:
# Check memory usage in bytes
memory_usage_bytes = updated_df.memory_usage().sum()

# Convert to kilobytes (KB)
memory_usage_kb = memory_usage_bytes / 1024

# Convert to megabytes (MB)
memory_usage_mb = memory_usage_kb / 1024

print("Memory usage: {:.2f} MB".format(memory_usage_mb))

Memory usage: 178.40 MB

In [ ]:
# Store the modified dataframe in a new CSV file
#updated_df.to_csv('/content/drive/MyDrive/ORANGEEV FILES/May_SOC_Final.csv', index=False)

In [ ]:
###########Creating an Aggregated df for each truck and each date##############

In [ ]:
%%time
##PERFECT#####

# Group the original DataFrame by 'Truck Serial Number' and 'Date' and calculate the sum and mean
grouped_df = updated_df.groupby(['Truck Serial Number', 'Date']).agg({
    'SoC': 'last',
    'SoC in kWh': 'last',
    'Charging Duration': 'sum',
    'Discharging Duration': 'sum',
    'Idle Duration': 'sum',
    'RoC': 'mean',
    'RoCg': 'mean',
    'Time (24hr)': 'last',
    'RoC Per Hr': 'mean',
    'RoCg Per Hr': 'mean'
})

# Reset the index of the grouped DataFrame
grouped_df.reset_index(inplace=True)

# Replace values >= 1434 in 'Charging Duration', 'Discharging Duration', and 'Idle Duration' with 1440
columns_to_replace = ['Charging Duration', 'Discharging Duration', 'Idle Duration']
grouped_df[columns_to_replace] = grouped_df[columns_to_replace].apply(lambda x: np.where(x >= 1434, 1440, x))

# Add a new column named 'Day' that assigns the day of the week based on the 'Date' column
grouped_df['Day'] = pd.to_datetime(grouped_df['Date']).dt.day_name()

# Check the sum of 'Charging Duration', 'Discharging Duration', and 'Idle Duration'
grouped_df['Duration Sum'] = grouped_df[['Charging Duration', 'Discharging Duration', 'Idle Duration']].sum(axis=1)

# Adjust 'Idle Duration' if the sum is not equal to 1440
sum_threshold = 1440
grouped_df['Idle Duration'] = np.where(grouped_df['Duration Sum'] != sum_threshold,
                                      grouped_df['Idle Duration'] + sum_threshold - grouped_df['Duration Sum'],
                                      grouped_df['Idle Duration'])

# Reorder the columns
SoC_Summary = grouped_df[[
    'Truck Serial Number', 'SoC', 'SoC in kWh', 'Date', 'Day', 'Time (24hr)', 'Charging Duration',
    'Discharging Duration', 'Idle Duration', 'RoC', 'RoC Per Hr', 'RoCg', 'RoCg Per Hr'
]].copy()

# Fill any missing values in 'RoC' and 'RoCg' with 0
SoC_Summary['RoC'].fillna(0, inplace=True)
SoC_Summary['RoCg'].fillna(0, inplace=True)

# Replace all infinite values 'inf' with zero
SoC_Summary.replace(float('inf'), 0, inplace=True)

# Check for null values
null_counts = SoC_Summary.isnull().sum()
print(null_counts)

Truck Serial Number     0
SoC                     0
SoC in kWh              0
Date                    0
Day                     0
Time (24hr)             0
Charging Duration       0
Discharging Duration    0
Idle Duration           0
RoC                     0
RoC Per Hr              0
RoCg                    0
RoCg Per Hr             0
dtype: int64
CPU times: user 728 ms, sys: 12 ms, total: 740 ms
Wall time: 758 ms

In [ ]:
SoC_Summary.shape

(21390, 13)

In [ ]:
SoC_Summary.columns

Index(['Truck Serial Number', 'SoC', 'SoC in kWh', 'Date', 'Day',
       'Time (24hr)', 'Charging Duration', 'Discharging Duration',
       'Idle Duration', 'RoC', 'RoC Per Hr', 'RoCg', 'RoCg Per Hr'],
      dtype='object')

In [ ]:
SoC_Summary.head(31)

,Truck Serial Number,SoC,SoC in kWh,Date,Day,Time (24hr),Charging Duration,Discharging Duration,Idle Duration,RoC,RoC Per Hr,RoCg,RoCg Per Hr
0,120660,99.13,178.434,2023-05-01,Monday,23:58:00,636.0,695.0,109.0,0.097382,4.946528,0.068601,2.302931
1,120660,94.16,169.488,2023-05-02,Tuesday,23:50:00,584.0,626.0,230.0,0.087665,4.317507,0.069027,2.221636
2,120660,88.43,159.174,2023-05-03,Wednesday,23:55:00,485.0,805.0,150.0,0.098958,5.381336,0.052791,1.347092
3,120660,96.43,173.574,2023-05-04,Thursday,23:47:00,675.0,564.0,201.0,0.105103,4.845112,0.070664,2.482516
4,120660,87.47,157.446,2023-05-05,Friday,23:42:00,199.0,588.0,653.0,0.093977,4.981797,0.067700,2.136630
5,120660,81.80,147.240,2023-05-06,Saturday,02:17:00,7.0,111.0,1322.0,0.104800,5.448000,0.031929,1.915714
6,120660,91.66,164.988,2023-05-07,Sunday,23:49:00,0.0,165.0,1275.0,0.071486,4.289143,0.000000,0.000000
7,120660,88.57,159.426,2023-05-08,Monday,23:50:00,455.0,470.0,515.0,0.092283,4.616447,0.071044,2.180039
8,120660,93.21,167.778,2023-05-09,Tuesday,23:52:00,531.0,636.0,273.0,0.087638,4.549213,0.048604,1.603201
9,120660,90.24,162.432,2023-05-10,Wednesday,23:58:00,631.0,626.0,183.0,0.102000,5.029561,0.044518,1.838063
10,120660,94.93,170.874,2023-05-11,Thursday,23:49:00,569.0,682.0,189.0,0.093300,4.915844,0.136547,2.707565
11,120660,81.60,146.880,2023-05-12,Friday,23:56:00,509.0,670.0,261.0,0.088301,4.506036,0.027886,0.739692
12,120660,77.34,139.212,2023-05-13,Saturday,02:26:00,26.0,119.0,1295.0,0.090848,5.059653,0.134005,3.476020
13,120660,96.97,174.546,2023-05-14,Sunday,23:45:00,0.0,104.0,1336.0,0.039541,2.372440,0.000000,0.000000
14,120660,89.85,161.730,2023-05-15,Monday,23:59:00,599.0,684.0,157.0,0.099276,5.053061,0.059021,1.787790
15,120660,93.35,168.030,2023-05-16,Tuesday,23:59:00,535.0,737.0,168.0,0.087791,4.486266,0.068675,1.871590
16,120660,93.24,167.832,2023-05-17,Wednesday,23:45:00,523.0,743.0,174.0,0.089652,4.499107,0.045833,1.347802
17,120660,92.59,166.662,2023-05-18,Thursday,23:53:00,372.0,784.0,284.0,0.086833,4.373372,0.090670,2.061832
18,120660,85.06,153.108,2023-05-19,Friday,23:51:00,490.0,716.0,234.0,0.085226,4.322913,0.054672,1.831752
19,120660,90.15,162.270,2023-05-20,Saturday,02:01:00,43.0,67.0,1330.0,0.043697,2.621829,0.051414,3.084811
20,120660,100.00,180.000,2023-05-21,Sunday,02:01:00,0.0,0.0,1440.0,0.000000,0.000000,0.000000,0.000000
21,120660,87.42,157.356,2023-05-22,Monday,23:47:00,112.0,353.0,975.0,0.090667,4.835910,0.028436,0.970556
22,120660,91.15,164.070,2023-05-23,Tuesday,23:58:00,588.0,706.0,146.0,0.086354,4.687404,0.070703,1.527138
23,120660,96.27,173.286,2023-05-24,Wednesday,23:47:00,506.0,771.0,163.0,0.096914,4.734606,0.088332,2.529321
24,120660,90.22,162.396,2023-05-25,Thursday,23:31:00,426.0,714.0,300.0,0.109988,5.592346,0.083776,2.089194
25,120660,93.09,167.562,2023-05-26,Friday,23:24:00,313.0,536.0,591.0,0.093384,4.860616,0.050879,1.881869
26,120660,100.00,180.000,2023-05-27,Saturday,02:01:00,0.0,0.0,1440.0,0.000000,0.000000,0.000000,0.000000
27,120660,100.00,180.000,2023-05-28,Sunday,02:01:00,0.0,0.0,1440.0,0.000000,0.000000,0.000000,0.000000
28,120660,96.48,173.664,2023-05-29,Monday,23:31:00,0.0,72.0,1368.0,0.042400,2.544000,0.000000,0.000000
29,120660,89.71,161.478,2023-05-30,Tuesday,23:45:00,760.0,399.0,281.0,0.079551,3.993741,0.067463,1.932459
30,120660,91.04,163.872,2023-05-31,Wednesday,23:47:00,390.0,590.0,460.0,0.078775,4.199711,0.037746,1.415734

In [ ]:
SoC_Summary.tail(31)

,Truck Serial Number,SoC,SoC in kWh,Date,Day,Time (24hr),Charging Duration,Discharging Duration,Idle Duration,RoC,RoC Per Hr,RoCg,RoCg Per Hr
21359,151829,76.31,137.358,2023-05-01,Monday,23:55:00,876.0,0.0,564.0,0.000000,0.000000,0.196506,11.790337
21360,151829,72.37,130.266,2023-05-02,Tuesday,23:55:00,589.0,357.0,494.0,0.115558,6.933450,0.134559,6.630245
21361,151829,52.65,94.770,2023-05-03,Wednesday,23:55:00,527.0,606.0,307.0,0.144789,7.213698,0.159097,6.393584
21362,151829,48.30,86.940,2023-05-04,Thursday,23:55:00,826.0,486.0,128.0,0.134074,6.232589,0.162261,5.967689
21363,151829,62.23,112.014,2023-05-05,Friday,23:55:00,141.0,43.0,1256.0,0.063801,3.828075,0.128322,7.032522
21364,151829,100.00,180.000,2023-05-06,Saturday,23:55:00,354.0,73.0,1013.0,0.033146,1.988762,0.135456,6.882889
21365,151829,55.59,100.062,2023-05-07,Sunday,23:55:00,0.0,482.0,958.0,0.112144,6.728622,0.000000,0.000000
21366,151829,55.59,100.062,2023-05-08,Monday,23:55:00,0.0,0.0,1440.0,0.000000,0.000000,0.000000,0.000000
21367,151829,100.00,180.000,2023-05-09,Tuesday,23:59:00,360.0,8.0,1072.0,0.006398,0.383906,0.177175,10.630500
21368,151829,83.12,149.616,2023-05-10,Wednesday,23:55:00,1.0,250.0,1189.0,0.076907,4.393600,0.003600,0.216000
21369,151829,68.83,123.894,2023-05-11,Thursday,23:55:00,376.0,420.0,644.0,0.085652,5.139129,0.135125,3.485123
21370,151829,58.59,105.462,2023-05-12,Friday,23:55:00,94.0,278.0,1068.0,0.080205,4.812324,0.106808,2.832811
21371,151829,100.00,180.000,2023-05-13,Saturday,23:55:00,405.0,227.0,808.0,0.025116,1.506944,0.077485,4.649124
21372,151829,100.00,180.000,2023-05-14,Sunday,23:55:00,0.0,0.0,1440.0,0.000000,0.000000,0.000000,0.000000
21373,151829,91.27,164.286,2023-05-15,Monday,23:55:00,6.0,209.0,1225.0,0.053683,3.002192,0.053169,0.947077
21374,151829,89.45,161.010,2023-05-16,Tuesday,23:55:00,276.0,500.0,664.0,0.066423,3.985355,0.063306,3.798387
21375,151829,37.32,67.176,2023-05-17,Wednesday,23:55:00,133.0,836.0,471.0,0.106147,6.264730,0.027237,1.634205
21376,151829,50.77,91.386,2023-05-18,Thursday,23:57:00,606.0,637.0,197.0,0.092013,5.282326,0.103876,5.883494
21377,151829,99.99,179.982,2023-05-19,Friday,23:55:00,405.0,979.0,56.0,0.008724,0.523446,0.172568,10.354054
21378,151829,100.00,180.000,2023-05-20,Saturday,23:55:00,150.0,154.0,1136.0,0.081638,4.898308,0.058862,3.531692
21379,151829,94.37,169.866,2023-05-21,Sunday,23:55:00,0.0,61.0,1379.0,0.049159,2.949524,0.000000,0.000000
21380,151829,100.00,180.000,2023-05-22,Monday,23:55:00,45.0,0.0,1395.0,0.000000,0.000000,0.048257,2.895429
21381,151829,100.00,180.000,2023-05-23,Tuesday,23:55:00,279.0,534.0,627.0,0.157462,4.356276,0.065826,3.949567
21382,151829,74.49,134.082,2023-05-24,Wednesday,23:55:00,0.0,579.0,861.0,0.040184,2.411058,0.000000,0.000000
21383,151829,74.12,133.416,2023-05-25,Thursday,23:55:00,328.0,612.0,500.0,0.071605,4.296309,0.075440,4.416448
21384,151829,76.14,137.052,2023-05-26,Friday,23:55:00,537.0,546.0,357.0,0.075221,4.513258,0.077853,4.671150
21385,151829,100.00,180.000,2023-05-27,Saturday,23:55:00,420.0,337.0,683.0,0.040584,2.435040,0.069012,4.140720
21386,151829,84.59,152.262,2023-05-28,Sunday,23:55:00,274.0,490.0,676.0,0.109504,6.570268,0.081061,4.863639
21387,151829,100.00,180.000,2023-05-29,Monday,23:55:00,110.0,0.0,1330.0,0.000000,0.000000,0.019837,1.190204
21388,151829,91.16,164.088,2023-05-30,Tuesday,23:55:00,1.0,261.0,1178.0,0.059302,3.074663,0.001714,0.102857
21389,151829,76.57,137.826,2023-05-31,Wednesday,23:55:00,232.0,395.0,813.0,0.130059,6.564197,0.074961,4.497660

In [ ]:
unique_serial_numbers = len(SoC_Summary['Truck Serial Number'].unique())
print("Unique number of truck serial numbers:", unique_serial_numbers)

Unique number of truck serial numbers: 810

In [ ]:
# Check memory usage in bytes
memory_usage_bytes = SoC_Summary.memory_usage().sum()

# Convert to kilobytes (KB)
memory_usage_kb = memory_usage_bytes / 1024

# Convert to megabytes (MB)
memory_usage_mb = memory_usage_kb / 1024

print("Memory usage: {:.3f} MB".format(memory_usage_mb))

Memory usage: 2.122 MB

In [ ]:
# Store the modified dataframe in a new CSV file
SoC_Summary.to_csv('/content/drive/MyDrive/ORANGEEV FILES/May_ROC_Final.csv', index=False)

In [ ]:
###CHECK FOR CRITICAL BATTERY INSTANCES
###BROKEN